<md-toolbar class="toolbar">
    <div class="md-toolbar-tools" layout>
      <md-button class="md-icon-button" ng-click="main.toggle()">
        <md-icon md-svg-icon="assets/svg/ic_reorder_white_24px.svg" ng-click="toggle()"></md-icon>
      </md-button>
      <h2>
        <span>
          ISA.QA
        </span>
      </h2>
      <span flex></span>
      <div class="userbox" flex="none" layout layout-margin>
        <img src="assets/images/head.jpg">
        <div flex layout="column">
          <span flex="60" class="md-body-2">
            Jax
          </span>
          <span flex class="md-caption">
            Welcome Back!
          </span>
        </div>
      </div>
    </div>
  </md-toolbar>