<md-dialog>
    <form novalidate ng-submit="vm.ok()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    上传产品
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content
            class="md-padding"
            layout="column"
            layout-align="center center"
            flow-init
            flow-name="vm.flow"
            flow-file-success="vm.uploadSuccessCallback($file, $message, $flow)">
            <img
                flow-btn
                flow-img="$flow.files[$flow.files.length - 1]">
            <md-button class="md-primary" flow-btn>上传图片</md-button>
            <md-input-container class="md-block">
                <label>
                    产品名称
                </label>
                <input type="text" ng-model="vm.product.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>
                    销售价格
                </label>
                <input type="text" ng-model="vm.product.price" required>
            </md-input-container>
            <div layout>
                <span flex></span>
                <md-button type="submit" class="md-primary md-raised">
                    确定
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
