<md-sidenav 
  md-component-id="left" 
  class="md-sidenav-left sidebar">
  <md-content>
    <header layout="column" layout-align="center center" layout-margin>
      <img src="assets\images\logo.png" class="logo">
	    <h3 class="md-title">
	    	Isa.qa Management System
	    </h3>
    </header>
    <ul>
      <li>
        <!--<md-icon md-font-icon="icon-home"></md-icon>-->
        主页
      </li>
      <li>
        <!--<i class="fa fa-camera-retro fa-2x"></i>-->
        考勤
      </li>
      <li>
        客户
      </li>
      <li>
        问题
      </li>
      <li>
        内务
      </li>
      <li>
        统计
      </li>
    </ul>
  </md-content>
</md-sidenav>   