.sidebar .logo {
    display: block;
    width: 100px;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    color: #678098;
    padding: 20px 0;
    margin: 0;
    padding-left: 130px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: rgb(242, 246, 249);
}