<md-sidenav 
  md-component-id="left" 
  class="md-sidenav-left sidebar">
  <md-content>
    <header layout="column" layout-align="center center" layout-margin>
      <img src="assets\images\logo.png" class="logo">
	    <h3 class="md-title">
	    	Isa.qa Management System
	    </h3>
    </header>
    <ul>
      <li>
        <md-icon md-font-icon="icon-home"></md-icon>
        Dashboard
      </li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
    </ul>
  </md-content>
  </md-content>
  </md-content>
  </md-content>
  </md-content>
  </md-content>
</md-sidenav>