#login {
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: #009688;
	top: 360px;
	height: 220px;
}

#login form {
	background-color: #fff;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 60px;
	padding: 20px;
	padding-top: 25px;
}

#login h1 {
	margin-bottom: 60px;
}

#login a:hover {
	cursor: pointer;
}

#login .form-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding-bottom: 20px;
	font-size: 14px;
}