<form class="md-whiteframe-8dp animated bounceInRight" name="loginForm" novalidate  ng-submit="">
    <h1 class="md-display-1 text-center primary">
        ISAQA
    </h1>
    <md-input-container class="md-block">
        <label>姓名</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>岗位</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>出生年月</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>家乡</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>当前居住地</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>手机号码</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>qq</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>微信</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container class="md-block">
        <label>兴趣爱好</label>
        <input type="email" name="email" ng-model="vm.user.username" required>
    </md-input-container>
    <div class="button-wrapper text-right">
        <md-button class="md-primary" type="submit">
            确认
        </md-button>
    </div>
</form>