<md-dialog>
    <form novalidate ng-submit="vm.ok()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    新增经销商
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content
            class="md-padding"
            layout="column"
            layout-align="center center">
            <md-input-container class="md-block">
                <label>
                    经销商名
                </label>
                <input type="text" ng-model="vm.user.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>
                    登陆账号
                </label>
                <input type="text" ng-model="vm.user.username" required>
            </md-input-container>
            <div layout>
                <span flex></span>
                <md-button type="submit" class="md-primary md-raised">
                    确定
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
